*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul{
  padding: 0;
  margin:0;
  list-style: none;
}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}

img{
  max-width: 100%;
}

.app{
  width:100%;
}

.main-container{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  margin-top: 20px;
}

.user-card .card-body{
  display:flex;
  justify-content: space-between;
  align-items: center;
} 

.user-card .card-header{
  font-size: 15px;
  padding: 10px;
} 


.card-avatar,
.card-info,
.score-info{
  padding: 0 10px;
} 

.card-avatar{
  width:33%;
  text-align: center;
} 

.card-avatar .big-avatar{
   max-width:100%;
   max-height: 100%
} 

.card-info{
  width: 66%;
}

.card-info,
.score-info{
  position: relative;
}

.card-info:before,
.score-info:before,
.score-info:after{
  content: '';
  position: absolute;
  width: 1px;
  top:5%;
  height: 90%;
  background-color: #dedede;
}



.card-info:before,
.score-info:before{
  left:0;
}

.score-info:after{
  right:0;
}
.card-info p:last-of-type{
  color:#666;
}

/*---- Start NavBar -----*/
.navbar{
  border-bottom: 2px solid #29aabf;
  padding-bottom:  0
}

.navbar .navbar-container{
  width: 75%;
  margin-right: auto;
  margin-left: auto;
}

.navbar .nav-list-item{
  float:left;
  margin-right: 10px;
}

.navbar .nav-list-item:last-of-type,
.navbar .nav-list-item:nth-of-type(4){
  float:right;
}

.navbar .nav-list-item img{
  width:20px;
  margin-left: 5px;
}

.navbar .nav-list-item .nav-link{
    color: #656565;
    font-size: 16px
}

.navbar .nav-list-item .nav-link.active{
    background-color: #29aabf;
    color: #fff;
    border-top-right-radius: 30px;
    border-top-left-radius:30px; 
}


/*----  Start Dashboard  ----*/
.dashboard{
  border-top-right-radius: 4px;
  border-top-left-radius:4px; 
}

.dashboard .dashboard-controller{
  border-bottom: 1px solid #dedede;
}

.dashboard .dashboard-controller .controller-tab{
  float: left;
  width: 50%;
  display: block;
  padding: 8px 16px;
  font-size: 14px;
  text-align: center;
  border:none;
  background-color: #fff
}  

.dashboard .dashboard-controller .controller-tab:hover{
  color:#29aabf;
} 

.dashboard .dashboard-controller .controller-tab.active{
  background-color: #dedede;
  color: #29aabf;
} 

.dashboard .dashboard-body{
  padding: 20px;
}

.dashboard  .poll-list .user-card:not(:last-of-type){
  margin-bottom: 15px;
}

.dashboard  .card-info .view-poll{
  text-align: center;
  border: 1px solid #29aabf;
  width: 100%;
  display: inline-block;
  border-radius: 2px;
  color: #29aabf;
  font-size: 16px;
  padding-top: 2px ;
  padding-bottom: 2px ;
}


/*----Start Poll Question -----*/

.poll-submit{
  display: inline-block;
  width: 100%;
  text-align: center;
  border: none;
  background-color: #29aabf;
  color: #fff;
  border-radius:4px;
  padding:5px 12px;
  letter-spacing: 0.75px;
  font-weight: bold
}

.poll-question label{
  margin-left: 10px;
}

/*----Start Poll Results -----*/

.option{
  border:1px solid #dedede;
  padding: 8px 16px;
  border-radius: 4px;
  margin-top: 10px;
  position: relative;
}

.option .option-container{
}

.option.my-vote:before{
   content: '';
   position: absolute;
   width: 100%;
   height: 100%;
   top:0;
   left: 0;
   background-color: #29aabf;
   opacity: .15;
   z-index: -1;
   
}

.option.my-vote:after{
   content: 'your vote';
   position: absolute;
   width: 50px;
   height: 50px;
   top:-25px;
   right: -25px;
   background-color: #e6bd26;
   padding: 10px;
   border-radius: 50%;
   text-align: center;
   line-height: 1.2;
   z-index: 2;
   font-size: 14px;
   font-weight: bold;
   color: #fff;
   display: block;
}

.option.my-vote p{
  color: #29aabf;
}

.option p{
 font-size: 15px;
 font-weight: bold;
}

.option .progress-bar{
 font-size: 15px;
 font-weight: bold;
 background-color: #29aabf;
}

.option span{
 font-size: 13px;
 display: block;
 text-align: center;
 font-weight: bold;
 margin-top: 5px;
}

/*---- Start New Poll -----*/
.new-poll h1{
  border-bottom: 1px solid #dedede;
  text-align: center;
  padding: 5px 10px;
  background-color: #fafafa;
  font-weight: bold
}

.new-poll-container{
  padding: 10px;
}
.new-poll-container p.h5{
  font-weight: bold;
  margin-bottom: 20px;
}

.new-poll-container .seperator{
  margin:20px 0;
  font-weight: bold;
  position: relative;
  text-align: center;
}

.new-poll-container .seperator:after,
.new-poll-container .seperator:before{
  content: '';
  position: absolute;
  width:43%;
  height: 1px;
  background-color: #dedede;
  top:50%;
}

.new-poll-container .seperator:after{
  left:0;
}
.new-poll-container .seperator:before{
  right: 0;
}
.new-poll-container input[type="submit"]{
  margin-top: 20px;
  background-color: #29aabf;
  color: #fff;
  font-weight: bold;
  border-color: #29aabf;
}

/*--- Start Leader Board ----*/
.leader-board .user-card {position: relative; margin-bottom: 10px;}
.leader-board .user-card .card-avatar{width:24%;}
.leader-board .user-card .score-info{width:52%;}
.leader-board .score-info .leader-name{
  font-weight: bold;
  font-size:17px;
  margin-bottom: 20px;
}

.leader-board .score-info span{
  font-size:14px;
  color: #555;
}

.leader-board .score-info span:first-of-type{float:left;}
.leader-board .score-info span:last-of-type{float:right;}
.leader-board .score-info hr{
  margin-top:5px;
  margin-bottom: 5px;
}
.leader-board .user-card .total-score{
  width:18%;
}
.leader-board .user-card .total-score h6{
  padding: 8px;
  background-color: #efefef;
  margin:0;
}

.leader-board .user-card .total-score div{
  padding: 10px 0;
}

.leader-board .user-card .total-score .total-score-count{
  width:35px;
  height: 35px;
  display: inline-block;
  border-radius: 100%;
  background-color: #29aabf;
  color: #fff;
  line-height: 35px;

}

.leader-board .user-card .triangle{
  position: absolute;
  top:0;
  left:0;
  width:0;
  height: 0;
  border-width: 25px;
  border-style:solid;
  border-top-color: #dedede;
  border-left-color: #dedede;
  border-bottom-color: transparent; 
  border-right-color: transparent; 
}

.leader-board .user-card .award {
  position: absolute;
  top:2px;
  left: 2px;
}

.leader-board .user-card .award svg.first{
  fill: gold;
}

.leader-board .user-card .award svg.second{
  fill: skyblue;
}



/*---- Resppnsive Design -----*/
@media (max-width:539px ){
    .main-container{
      width:90%;
    }
    .dashboard ,
    .dashboard .dashboard-controller .controller-tab a  {
      font-size: 13px;
    }
   
    .dashboard  .avatar{
      height: 75px;
      width: 75px;
    } 
    .user-card{ font-size: 13px }

    .navbar .navbar-container{
      width: 95%;  
    }
    
    .navbar .nav-list-item {
      margin-right: 5px;
    }

    .navbar .nav-list-item .nav-link{
      padding: .25rem .5rem;
      font-size: 14px;
    }

    .navbar .nav-list-item .nav-link.active{
      border-top-right-radius: 25px;
      border-top-left-radius: 25px;
    }
}

@media (min-width:540px ){
    .main-container{
        width:70%;
      }
    .dashboard  .avatar{
      height: 80px;
      width: 80px;
    } 

    .navbar .navbar-container{
      width: 90%;  
    }
    
    .navbar .nav-list-item {
      margin-right: 5px;
    }

    .navbar .nav-list-item .nav-link{
      padding: .25rem .5rem;
      font-size: 14px;
    }

    .navbar .nav-list-item .nav-link.active{
      border-top-right-radius: 25px;
      border-top-left-radius: 25px;
    }
}

@media (min-width:768px){
    .main-container{
      width:50%;
    }

    .dashboard  .avatar{
      height: 100px;
      width: 100px;
    }

    .navbar .navbar-container{
      width: 80%;  
    }

    .navbar .nav-list-item {
      margin-right: 10px;
    }

    .navbar .nav-list-item .nav-link{
      padding: .3rem .6rem;
      font-size: 15px;
    }

    
}

@media (min-width:922px){
    .navbar .navbar-container{
      width: 75%;
      
    }
    .navbar .nav-list-item .nav-link{
      font-size: 16px;
    }

     .navbar .nav-list-item .nav-link.active{
      border-top-right-radius: 30px;
      border-top-left-radius: 30px;

    }
}


/*----- general style  -----*/
.main-border{
  border:1px solid #dedede;
}

.main-color{
  color: #454545 ;
  font-weight: bold
}
